In [1]:
from mongo import *
from Bases import *
import pandas as pd

In [ ]:
df = pd.read_excel("C:/Users/novo1/OneDrive/Desktop/Dev/Rentabilidade Anual/Bases/Custos Fixos/2025/CF-txSala_Mensal.xlsx", sheet_name="IMP + CART")

base = df.to_dict(orient='records')

base

In [ ]:
subir_dados_mongodb("rentabilidade_anual","impostos_taxas_2025",base)

In [2]:
pegar_dados_mongodb("rentabilidade_anual","custos_fixos_2025")

,Unidade,Mês,Custo Fixo + Bko,Dias uteis,Hora/Dia,Salas,Minutos Disponivel,Taxa Sala (Hr),Taxa Sala (Min)
0,JARDINS,Janeiro,219192.606875,24,10.166667,8,117120,112.291295,1.871522
1,SANTO AMARO,Janeiro,109709.414375,24,10.166667,6,87840,74.938125,1.248969
2,TATUAPÉ,Janeiro,135886.370250,24,10.166667,5,73200,111.382271,1.856371
3,SANTOS,Janeiro,118338.444375,24,10.166667,8,117120,60.624203,1.010403
4,IPIRANGA,Janeiro,90353.068750,24,10.166667,6,87840,61.716577,1.028610
...,...,...,...,...,...,...,...,...,...
95,TUCURUVI,Maio,102487.952345,24,10.166667,6,87840,70.005432,1.166757
96,LAPA,Maio,87424.102345,24,10.166667,6,87840,59.715917,0.995265
97,ITAIM,Maio,64856.225407,24,10.166667,4,58560,66.451051,1.107518
98,VILA MASCOTE,Maio,69985.603101,24,10.166667,5,73200,57.365248,0.956087
99,GUARULHOS,Maio,76120.077713,24,10.166667,5,73200,62.393506,1.039892